<div class="fluid-container bg-dark footer">
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight" style="margin: 25px;">
            <h4>Newsletter</h4>
            <hr />
            <h5>Sign up for our monthly newsletter!</h5>
            <div class="input-group mb-3">
                <input type="text" class="form-control" style="width: 50%;" placeholder="Email address" aria-label="Email address" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="button-addon2">Button</button>
                </div>
            </div>
            <h4>Stay Connected</h4>
            <hr />
            <i class="fab fa-instagram fa-3x" style="color: white;"></i>
            <i class="fab fa-snapchat-ghost fa-3x" style="color: white;"></i>
            <i class="fab fa-facebook-f fa-3x" style="color: white;"></i>
            <i class="fab fa-twitter fa-3x" style="color: white;"></i>
            <i class="fab fa-pinterest-p fa-3x" style="color: white;"></i>
            <i class="fab fa-youtube fa-3x" style="color: white;"></i>
        </div>
        <div class="p-2 flex-fill bd-highlight" style="margin: 25px;">
            <h4>About Us</h4>
            <hr />
            <ul style="list-style-type: none;">
                <li>Jobs</li>
                <li>Foundation</li>
                <li>Privacy Policy</li>
                <li>Affiliate Programs</li>
            </ul>
        </div>
        <div class="p-2 flex-fill bd-highlight" style="margin: 25px;">
            <h4>Customer Service</h4>
            <hr />
            <ul style="list-style-type: none;">
                <li>Contact Us</li>
                <li>FAQs</li>
                <li>Store Locator</li>
                <li>Order Status</li>
                <li>Shipping Information</li>
                <li>Return Policy</li>
            </ul>
        </div>
        <div class="p-2 flex-fill bd-highlight" style="margin: 25px;">
            <h4>Your Account</h4>
            <hr />
            <ul style="list-style-type: none;">
                <li>Credit Card</li>
                <li>Pay My Bill</li>
                <li>Mobile App</li>
            </ul>
        </div>
    </div>
</div>
<div class="fluid-container bg-secondary text-light" style="text-align: center; padding: 10px 0px;">
    <p>&copy; Copyright 2019 - MySite. All rights reserved.</p>
</div>
